<p id="notice"><%= notice %></p>

<h1>Kilometerdrivens</h1>

<table>
  <thead>
  <tr>
    <th>Name</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @kilometerdrivens.each do |kilometerdriven| %>
    <tr>
    <td><%= kilometerdriven.name %></td>
    <td><%= link_to 'Show', kilometerdriven %></td>
    <td><%= link_to 'Edit', edit_kilometer_driven_path(kilometerdriven) %></td>
    <td><%= link_to 'Destroy', kilometerdriven, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Kilometerdriven', new_kilometer_driven_path %>
