<p id="notice"><%= notice %></p>
<h1>Buy Car</h1>

<%= render 'shared/category_search' %>
<!--
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @sellers.each do |seller| %>
      <tr>
        <td><%= seller.city.name %></td>
        <td><%= seller.model.name %></td>
        <td><%= seller.brand.name %></td>
        <td><%= seller.kilometerdriven.name %></td>
        <td><%= seller.registrationyear.name %></td>
        <td><%= seller.registrationstate.name %></td>
        <td><%= seller.variant.name %></td>
         <% if logged_in?(:Admin)%>
         <td><%= link_to 'Change status', edit_token_path(seller) %></td>
        <td><%= link_to 'Show', seller %></td>
        <td><%= link_to 'Edit', edit_seller_path(seller) %></td>
        <td><%= link_to 'Destroy', seller, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <%end%>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
-->
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">City</th>
      <th scope="col">Model</th>
      <th scope="col">Brand</th>
      <th scope="col">Kilometer-Driven</th>
      <th scope="col">Registration-Year</th>
      <th scope="col">Registration-State</th>
      <th scope="col">Variant</th>
      <% if logged_in?(:Admin)%>
      <th scope="col">Appointment status</th>
      <th scope="col">Edit post</th>
      <th scope="col">Delete Post</th>
      <%end%>
    </tr>
  </thead>
  <tbody>
   <% @sellers.each do |seller| %>
     <tr>
        <td><%= seller.city.name %></td>
        <td><%= seller.model.name %></td>
        <td><%= seller.brand.name %></td>
        <td><%= seller.kilometerdriven.name %></td>
        <td><%= seller.registrationyear.name %></td>
        <td><%= seller.registrationstate.name %></td>
        <td><%= seller.variant.name %></td>
         <% if logged_in?(:Admin)%>
         <td><%= link_to 'Change status', edit_token_path(seller) ,class: "nav-link  btn btn-info rounded-pill" %></td>
        <td><%= link_to 'Edit', edit_seller_path(seller),class:"nav-link btn btn-info rounded-pill" %></td>
        <td><%= link_to 'Destroy', seller, method: :delete, data: { confirm: 'Are you sure?' },class: "nav-link  btn btn-info rounded-pill" %></td>
      <%end%>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="text-center my-3 p-2">
  <%= link_to 'Back to home', root_path, class: "btn btn-primary rounded-pill" %>
</div>

