<p id="notice"><%= notice %></p>

<h1>Sellers</h1>
<%= render 'shared/category_search' %>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @sellers.each do |seller| %>
      <tr>
        <td><%= seller.city.name %></td>
        <td><%= seller.name %></td>
        <td><%= seller.brand.name %></td>
        <td><%= seller.kilometerdriven.name %></td>
        <td><%= seller.registrationyear.name %></td>
        <td><%= seller.registrationstate.name %></td>
        <td><%= seller.variant.name %></td>
         <% if logged_in?(:site_admin)%>
         <td><%= link_to 'Change status', edit_token_path(seller) %></td>
        <td><%= link_to 'Show', seller %></td>
        <td><%= link_to 'Edit', edit_seller_path(seller) %></td>
        <td><%= link_to 'Destroy', seller, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <%end%>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<%= link_to 'Back to home', root_path, class: "btn btn-dark" %>
