<h1>Search result</h1>
<table>
<tbody>
  <% @seller.each do |seller| %>
  <tr>
    <td><%= seller.city.name %></td>
    <td><%= seller.name %></td>
    <td><%= seller.kilometerdriven.name %></td>
    <td><%= seller.registrationyear.name %></td>
    <td><%= seller.registrationstate.name %></td>
    <td><%= seller.variant.name %></td>
  </tr>
    <% end %>
  </tbody>
</table>