<div class="container home">
  <h2 class="display -2 mx-auto">Welcome to admin page</h2>
  <div class="d-flex flex-column">
    <div class="card my-3">
      <%= link_to 'Add City', new_city_path, class: "btn btn-info" %>
    </div>
     <div class="card my-3">
      <%= link_to 'Add Model', new_model_path, class: "btn btn-info" %>
    </div>
     <div class="card my-3">
      <%= link_to 'Add variant', new_variant_path, class: "btn btn-info" %>
    </div> 
     <div class="card my-3">
      <%= link_to 'Add Brand', new_brand_path, class: "btn btn-info" %>
    </div>
     <div class="card my-3">
      <%= link_to 'Add registration state', new_registrationstate_path, class: "btn btn-info" %>
    </div>
     <div class="card my-3">
      <%= link_to 'Add Kilometer Driven', new_kilometerdriven_path, class: "btn btn-info" %>
    </div>
        
      <% if Carcost.last.nil? %>
        <%= link_to 'You need to set car cost condition first', new_carcost_path, class: "btn btn-info" %>
      <% else %>      
    <div class="card my-3">
      <%= link_to 'Update Car cost condition', carcosts_path, class: "btn btn-info" %>
    </div>
    <%end%>
  </div>
</div>