<p id="notice"><%= notice %></p>

<p>
  <strong>Condition:</strong>
  <%= @carcost.condition %>
</p>

<p>
  <strong>Price:</strong>
  <%= @carcost.price %>
</p>

<%= link_to 'Edit', edit_car_cost_path(@carcost) %> |
<%= link_to 'Back', car_costs_path %>
