<%if logged_in?(:Buyer, :Admin)%>
    <%= form_tag sellers_path, method: :get do %>
      <p>
        <%= text_field_tag :search, params[:search], placeholder: "search" %>
        <%= button_tag "Search", name: nil, class: "btn btn-dark" %>
      </p>
<%end%>
    <% end %>
<%= stylesheet_link_tag 'search', media: 'all', 'data-turbolinks-track': 'reload' %>
  <div class=" d-flex">
  <div class="d-flex flex-column justify-content-end align-items-start ">
    <%= form_tag search_city_path, method: 'get' do %>
    <h6>Search by city</h6>
    <%= collection_select :seller, :city_id, City.all, :id, :name, prompt: true, class: 'form-control' %>
    <%= submit_tag "search"  %>
    <% end %>

    <%= form_tag search_brand_path, method: 'get' do %>
    <h6>Search by Brand</h6>
    <%= collection_select :seller, :brand_id, Brand.all, :id, :name, prompt: true %>
    <%= submit_tag "search" %>
    <% end %>

    <%= form_tag search_registration_year_path, method: 'get' do %>
    <h6>Search by Registrationyear</h6>
    <%= collection_select :seller, :registration_year_id, RegistrationYear.all, :id, :name, prompt: true %>
    <%= submit_tag "search" %>
    <% end %>
    <div class="text-center my-4 "><%= link_to 'All post', sellers_path, class: 'btn btn-info btn-lg' %></div>

  </div>
  <div class="d-flex flex-column justify-content-end align-items-end">
    <%= form_tag search_kilometer_path, method: 'get' do %>
    <h6>Search by Kilometerdriven</h6>
    <%= collection_select :seller, :kilometer_driven_id, KilometerDriven.all, :id, :name, prompt: true %>
    <%= submit_tag "search" %>
    <% end %>

    <%= form_tag search_variant_path, method: 'get' do %>
    <h6>Search by Variant</h6>
    <%= collection_select :seller, :variant_id, Variant.all, :id, :name, prompt: true %>
    <%= submit_tag "search" %>
    <% end %>

    <%= form_tag search_registration_state_path, method: 'get' do %>
    <h6>Search by Registrationstate</h6>
    <%= collection_select :seller, :registration_state_id, RegistrationState.all, :id, :name, prompt: true %>
    <%= submit_tag "search" %>
    <% end %>

    <%= form_tag search_model_path, method: 'get' do %>
    <h6>Search by Model</h6>
    <%= collection_select :seller, :model_id, Model.all, :id, :name, prompt: true %>
    <%= submit_tag "search" %>
    <% end %>
  </div>
  </div>    
