<div class="bg-dark">
  <nav class="navbar container navbar-expand-lg navbar-dark">
  <%= link_to 'Car Place', root_path, class: 'navbar-brand' %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
         <%= link_to 'Sell', new_seller_path, class: "nav-link" %>
      <li/>
      <% if logged_in?(:site_admin)%>
      <li class="nav-item">
          <%= link_to 'Admin', admin_admin_path, class: 'nav-link' %>
      </li>
      <%end%>
      <% if user_signed_in? %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          My account
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%= link_to 'Edit', edit_user_registration_path(current_user), class: 'dropdown-item' %>
          <%= link_to 'My appointment', tokens_path, class: "dropdown-item" %>
          <a class="dropdown-item" href="#">Something else here</a>
           <form class="form-inline my-2 my-lg-0" action="status_search">
            <input class="form-control mr-sm-2" type="search" name="q" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
           </form>
          </div>
      <% end %>
        </li>
           <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
      </li>
      </ul>
      <form class="form-inline my-2 my-lg-0" action="/search">
      <input class="form-control mr-sm-2" type="search" name="q" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      <div class=" d-flex mx-3">
       <% if user_signed_in?  %>
          <%= link_to 'Logout',destroy_user_session_path, class: 'nav-link btn btn-primary',method: :delete %>
          <% else %>
          <%= link_to 'Sign up',new_user_registration_path, class: 'nav-link btn btn-primary mx-3' %>
          <%= link_to 'Login',new_user_session_path, class: 'nav-link btn btn-light ' %>
          <%end%>
        <% if logged_in?(:site_admin)%>
          <%= link_to 'Update status', tokens_path, class: 'nav-link btn btn-success ml-3' %>
        <%end%>
       </div>   
      </form>
  </div>
  </nav>
</div>
