
<h1 class="my-4 card-header" align="center">Appointment</h1>
<div class="container home">
  <table class="table">
    <% if !logged_in?(:Admin) %>
      <%= link_to 'My Advertisement', my_add_path, class: "btn btn-info m-4" %>
      <%= link_to 'Create new token', new_token_path, class: "btn btn-primary rounded-pill my-4" %>
    <% end %>
  <% if @mylist.empty? and !logged_in?(:Admin) %>
    <h1>You dont have any appointment. Why don't you create a new one</h1> 
  <% else %> 
  <thead class="thead-dark">
    <tr>
      <th scope="col">Token no</th>
      <th scope="col">Phone no</th>
      <th scope="col">Created </th>
      <th scope="col">Status</th>
      <% if logged_in?(:Admin) %>
        <th>Update Status</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% if !logged_in?(:Admin) %> 
      <% @mylist.each do |list| %>
        <tr>
          <td> <%= list.id %> </td>
          <td>  <%= list.phoneno %></td>
          <td>  <%= time_ago_in_words(list.created_at) %></td>
          <td>  <%= list.status.upcase %></td>
        </tr> 
      <% end %>
      <%end%>
    </tbody>
    <% end %>
  </table>
</div>

