<p id="notice"><%= notice %></p>

<p>
  <strong>Phoneno:</strong>
  <%= @token.phoneno %>
</p>

<h3>Your token no is <%= @token.id %> </h3>
<h3> your add status is in processing</h3>


<% x= @token.id%>
<% x = (x % 4 + 1) %>
<%cost=  Carcost.find(x) %>

<h2>Your car cost price is </h2>
<%= cost.condition %>
<%= cost.price %>


<%= link_to 'Back to Home', root_path, class: "btn btn-dark btn-lg rounded-pill" %>
