<p id="notice"><%= notice %></p>

<h1>Registrationstates</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @registrationstates.each do |registrationstate| %>
      <tr>
        <td><%= registrationstate.name %></td>
        <td><%= link_to 'Show', registrationstate %></td>
        <td><%= link_to 'Edit', edit_registrationstate_path(registrationstate) %></td>
        <td><%= link_to 'Destroy', registrationstate, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Registrationstate', new_registrationstate_path %>
